*{
    margin: 0;
    padding: 0;
}
.conatainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 7px solid rgb(14, 224, 102);
    transition: ease-in-out 0.5s;
}
h1{
    transition: ease-in-out 0.5s;
    overflow: hidden;
}
.box:hover h1{
    transform: rotate(-90deg) scale(1.2);
}
.box:hover{
    transform: rotate(90deg) scale(2);
}